<!--
Project Information
Student Name: Dayoon Lee
Student Number: 301034178
Submission Date: 2021/11/29
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
	  <h2 style="margin-top: 5%;">Add Product</h2>
      <form th:action="@{/add}" th:object="${product}" method="post">
      <label for="name">Name:</label><br />
      <input type="text" name="name" id="name" th:field="*{name}" class="form-control"/><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br />
      <label for="price">Price:</label><br />
      <input type="number" name="price" id="price" th:field="*{price}" class="form-control"/><span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><br />
      <label for="quantity">Quantity:</label><br />
      <input type="number" name="quantity" id="quantity" th:field="*{quantity}" class="form-control"/><span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span><br />
      <label for="location">Location:</label><br />
      <input type="text" name="location" id="location" th:field="*{location}" class="form-control"/><span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span><br /><br />
      <input type="submit" name="Add" class="btn btn-primary"/>
      </form>
</body>
</html>